[submodule "Oculum/vendors/spdlog"]
	path = Oculum/vendors/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Oculum/vendors/GLFW"]
	path = Oculum/vendors/GLFW
	url = https://github.com/glfw/glfw
